Introduction:


John Doe is a rich billionaire invester who enjoys investing his money into different businesses and fields. Recently he has taken an interest in baseball and is looking to buy a team. John is also very competetive and enjoys winning. He was able to snatch some pitching statistics from the last 40 years in the Korean league. Knowing that a good pitching staff leads to a good winning team, he has asked us to predict the top 5 teams with the highest win percentage based on their pitching statistics.

In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import os

hey_batter = pd.read_csv('C:\\Users\\ebent\\OneDrive\\Documents\\GitHub\\Hey Batter Batter!\\Hey-Batter-Batter-\\csv\\kbopitchingdata.csv')
hey_batter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   323 non-null    int64
 1   year                 323 non-null    int64
 2   team                 323 non-null    object
 3   average_age          323 non-null    float64
 4   runs_per_game        323 non-null    float64
 5   wins                 323 non-null    int64
 6   losses               323 non-null    int64
 7   win_loss_percentage  323 non-null    float64
 8   ERA                  323 non-null    float64
 9   run_average_9        323 non-null    float64
 10  games                323 non-null    int64
 11  games_started        184 non-null    float64
 12  games_finished       184 non-null    float64
 13  complete_game        323 non-null    int64
 14  shutouts             323 non-null    int64
 15  saves                323 non-null    int64
 16  innings_pitched      323 non-null    float64
 17  hits                 323 non-null    int64
 18  runs                 323 non-null    int64
 19  earned_runs          323 non-null    int64
 20  home_runs            323 non-null    int64
 21  walks                323 non-null    int64
 22  intentional_walks    184 non-null    float64
 23  strikeouts           323 non-null    int64
 24  hit_batter           323 non-null    int64
 25  balks                184 non-null    float64
 26  wild_pitches         184 non-null    float64
 27  batters_faced        323 non-null    int64
 28  WHIP                 323 non-null    float64
 29  hits_9               323 non-null    float64
 30  homeruns_9           323 non-null    float64
 31  walks_9              323 non-null    float64
 32  strikeouts_9         323 non-null    float64
 33  strikeout_walk       323 non-null    float64
dtypes: float64(17), int64(16), object(1)
memory usage: 85.9+ KB

We can see we have a lot of different stats here. We most likely are not going to use all of them but we should know what each one does. Here is some identifying information so we know what we are working with: 

- year
- teams
- average_age: Average pitcher age
- runs_per_game: Runs scored per game
- wins: Total wins per season
- losses: Total losses per season
- win_loss_percentage
- ERA: Pitching ERA: number of earned runs a pitcher allows per 9 innings
- run_average_9: run average per 9 innings
- games: Games played
- games_started: Games started
- games_finished: Games finished
- complete_game: Complete games
- shutouts: No runs allowed and complete games
- saves: pitcher who finishes a game for the winning team (certain prerequisites required)
- innings_pitched
- hits: Hits allowed
- runs: Runs allowed
- earned_runs: Earned runs allowed
- home_runs: Home runs allowed
- walks: Walks allowed
- intentional_walks: Intentional walks allowed
- strikeouts
- hit_batter: Hit batter with pitch
- balks: An illegal act by a pitcher with a runner or runners on base entitling all batters to advance one base
- wild_pitches: potential bases being awarded
- batters_faced
- WHIP: (Walks + Hits) / Total Innings Pitched
- hits_9: Hits per 9 innings
- homeruns_9: Homeruns per 9 innings
- walks_9: Walks per 9 innings
- strikeouts_9: Strikeouts per 9 innings
- strikeout_walk: strikeouts / walks

So far it's a lot of information but we can already identify that some of these might be more important stats than others. For example ERA which is the number of earned runs a pitcher allows per 9 innings is probably a more important statistic than shutouts. In baseball the more runs you let the other team score the more likely it is your team loses. So having a low average ERA for your pitching staff is going to be a big part of a team's winning percentage. Shutouts on the other hand are pretty rare and is often a pretty low stat. Having a higher number than average is a good thing, but it probably won't be the main determining factor for deciding a team's win percentage.

In [12]:
hey_batter.head()

,id,year,team,average_age,runs_per_game,wins,losses,win_loss_percentage,ERA,run_average_9,...,hit_batter,balks,wild_pitches,batters_faced,WHIP,hits_9,homeruns_9,walks_9,strikeouts_9,strikeout_walk
0,1,2021,LG Twins,26.3,3.90,72,57,0.558,3.57,3.96,...,97,5.0,43.0,5416,1.312,8.0,0.6,3.9,7.6,1.96
1,2,2021,KT Wiz,28.4,4.06,75,59,0.560,3.67,4.17,...,42,1.0,56.0,5359,1.316,8.4,0.6,3.5,7.5,2.16
2,3,2021,Doosan Bears,27.5,4.57,70,65,0.519,4.28,4.66,...,73,7.0,51.0,5596,1.487,9.2,0.7,4.2,7.4,1.77
3,4,2021,Samsung Lions,28.8,4.57,75,59,0.560,4.29,4.70,...,51,3.0,56.0,5496,1.450,9.3,0.9,3.8,7.4,1.96
4,5,2021,NC Dinos,27.7,4.80,67,67,0.500,4.50,4.95,...,77,8.0,74.0,5575,1.476,9.1,0.9,4.2,7.5,1.79

So far we don't see any missing values which is good but we definitely have to do some more digging. Already I can see that I might to need to transpose the data. Since we are comparing teams we want each team to have their own column for comparison.

In [16]:
hey_batter_T = hey_batter.T
hey_batter_T.head()

,0,1,2,3,4,5,6,7,8,9,...,313,314,315,316,317,318,319,320,321,322
id,1,2,3,4,5,6,7,8,9,10,...,314,315,316,317,318,319,320,321,322,323
year,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,...,1983,1983,1983,1983,1982,1982,1982,1982,1982,1982
team,LG Twins,KT Wiz,Doosan Bears,Samsung Lions,NC Dinos,Kiwoom Heroes,SSG Landers,Hanwha Eagles,Kia Tigers,Lotte Giants,...,Haitai Tigers,Samsung Lions,OB Bears,Lotte Giants,Samsung Lions,OB Bears,MBC Blue Dragons,Lotte Giants,Haitai Tigers,Sammi Superstars
average_age,26.3,28.4,27.5,28.8,27.7,25.8,27.3,27.0,25.3,27.1,...,25.3,26.1,26.9,26.4,27.2,26.5,25.9,26.3,23.5,24.3
runs_per_game,3.9,4.06,4.57,4.57,4.8,4.89,5.13,5.13,5.22,5.64,...,3.9,4.18,4.32,4.64,3.21,3.98,4.38,4.81,4.85,7.18